@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive {
  font-family: 'Cedarville Cursive', cursive;
}
.welcome-text {
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -3px 12px #ffe80042;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  @apply bg-gradient-conic from-[#8C8B79] to-[#403E3B];
  box-shadow: inset 0 0 12px #403e3b;
}
.button-primary:hover {
  @apply bg-gradient-conic from-[#727365] to-[#403e3b];
  box-shadow: inset 0 0 12px #403e3b;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
